.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

.App-link {
  color: #585c5e;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AddMoreEvent-logo{
  position: fixed;
  bottom: 1vmin;
  height: 15vmin;
}

.AddMoreEvent{
  background-color: azure;
  display: block;
  position: fixed;
  height: 70vh;
  bottom: 10vmin;
  color: black;
  font-size: medium;
  text-align:left;
  width: fit-content;
  padding: 20px;
}
.errorTip{
  color: red;
  font-size: small;
}
